[profile.default]
optimizer = true
optimizer_runs = 15_000

src = 'src/v0.8'
test = 'test/v0.8/foundry'
out = 'foundry-artifacts'
cache_path  = 'foundry-cache'
libs = ['node_modules', 'foundry-lib']
bytecode_hash = "none"
ffi = false

# default is zero, using a non-zero amount enables us to test e.g. billing based on gas prices.
gas_price = 1
block_timestamp = 1234567890
block_number = 12345

[profile.ccip]
solc_version = '0.8.19'
src = 'src/v0.8/ccip'
test = 'src/v0.8/ccip/test'

[profile.metatx]
solc_version = '0.8.15'
src = 'src/v0.8/metatx'
test = 'src/v0.8/metatx/test'

[profile.functions]
solc_version = '0.8.6'
src = 'src/v0.8/functions'
test = 'src/v0.8/functions/tests'

# See more config options https://github.com/foundry-rs/foundry/tree/master/config